@import "variables";

//@import url('https://fonts.googleapis.com/css?family=Cookie|Raleway:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie|Roboto:300,400,700&display=swap');

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 20px;
  background: #fbfbfc;
  overflow-x: hidden;
}

.header-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5px;
  margin-top: 8px;
  background-image: -webkit-linear-gradient(left, #da7800, #8c0091, #00b4da, #000b91);
    background-image: -moz-linear-gradient(left, #da7800, #8c0091, #00b4da, #000b91);
    background-image: -o-linear-gradient(left, #da7800, #8c0091, #00b4da, #000b91);
    background-image: linear-gradient(to right, #da7800, #8c0091, #00b4da, #000b91);
}
.gradient{
  background: #0365b7;
  background:-moz-linear-gradient(50% 100% 90deg,rgba(0, 80, 115, 1) 0%,rgba(82, 182, 184, 1) 37.25%,rgba(87, 196, 234, 1) 100%);
  background:-webkit-linear-gradient(90deg, rgba(0, 80, 115, 1) 0%, rgba(82, 182, 184, 1) 37.25%, rgba(87, 196, 234, 1) 100%);
  background:-webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(0, 80, 115, 1) ),color-stop(0.3725,rgba(82, 182, 184, 1) ),color-stop(1,rgba(87, 196, 234, 1) ));
  background:-o-linear-gradient(90deg, rgba(0, 80, 115, 1) 0%, rgba(82, 182, 184, 1) 37.25%, rgba(87, 196, 234, 1) 100%);
  background:-ms-linear-gradient(90deg, rgba(0, 80, 115, 1) 0%, rgba(82, 182, 184, 1) 37.25%, rgba(87, 196, 234, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#005073', endColorstr='#57C4EA' ,GradientType=0)";
  background:linear-gradient(0deg, rgba(0, 80, 115, 1) 0%, rgba(82, 182, 184, 1) 37.25%, rgba(87, 196, 234, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57C4EA',endColorstr='#005073' , GradientType=0);
  color: white;
}

.header{
  padding: 100px;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  position: relative;
  text-align: center;
    .header-img{
    //  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
      margin: auto;
    }

}

.header-content{
  max-width: 920px;
  margin: auto;

  .header-text{
    max-width:400px;
    @media (max-width: $desktop) {
      max-width: none;
      padding-bottom: 40px;
    }
  }
}

.purple{color: $purple;}
.orange{color: $orange;}
.pink{color: $pink;}

.vertical-align{
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: $desktop) {
    display: block;
  }
}
.section{
  padding: 50px;
}
.section:not(.curvy){
  padding: 70px;
}

.curvy:before, .curvy:after {
    visibility: visible;
    content: "";
    width: 100vw;
    height: 35px;
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    position: absolute;
    left:0px;
}

.curvy{
  &:before {
    background-image: url(../images/wave-top.svg);
    background-size: cover;
    top: -35px;
  }
  &:after{
    background-image: url(../images/wave-bottom.svg);
    bottom: -35px;
  }
}

.header:after {
    background-image: url(../images/wave-bottom-white.svg);
    bottom: -35px;
}

.curvy:not(.header){
  background-color: rgba(50, 61, 74, 0.2);
  position: relative;
  &.row{
    padding: 0 10px;
  }
}

.title{
  font-family: $cookie;
  text-align: center;
  font-size: 3.5em;
}

.home-img{
  width: 470px;
  margin: 0 auto;
  display: block;
}
